body{
    text-align: center;
    background-color: hsl(34, 100%, 78%);
}

.container{
    width: 350px;
    margin: 0 auto;
    margin-top:100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #8aebff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
}

#inputNum{
    border-radius: 4px;
    border: 1px solid #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 2px;
}

#btn{
    border-radius: 3px;
    border: 1px solid #000;
    font-family: 'Times New Roman', Times, serif;   
    font-size: 18px;
    padding: 2px 10px;
    background-color: #5cff5f;
    cursor: pointer;
    transition: transform 0.1s;
}

#btn:active {
    transform: scale(0.95);
}

#btn:hover{
    background-color: #28e228;
}

.result{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
    margin-top: 20px;
}

#resetBtn{
    border-radius: 3px;
    border: 1px solid #000;
    font-family: 'Times New Roman', Times, serif;   
    font-size: 18px;
    padding: 2px 10px;
    background-color: #ff5f5f;
    cursor: pointer;
    transition: transform 0.1s;
}

#resetBtn:active {
    transform: scale(0.95);
}   
#resetBtn:hover{
    background-color: #e22828;
}