body {
    background-color: rgb(38, 40, 1);
    background-image: url("bgImage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#time {
    font-size: 10vw;
    color: cyan;
    font-weight: bold;
    font-family: 'Wallpoet', sans-serif;
    letter-spacing: 6px;
    transform: scaleY(1.3);
    text-shadow:
        2px 2px 0 #117a91,
        4px 4px 0 #0b4e4c;
}

#date {
    font-size: 2rem;
    color: rgb(0, 226, 226);
    margin-top: 10px;
    font-family: 'Wallpoet', sans-serif;
}

@media (max-width: 768px) {
    #time {
        font-size: 15vw;
        letter-spacing: 3px;
        transform: scaleY(1.1);
    }

    #date {
        font-size: 1.2rem;
    }
}
